<%- include partials/header.ejs %>

<select name="memberlist" id="memberlist">
    
    <% memberlist.forEach(function(firstname,index){ %>
        <option value="">firstname</option>
        <% }) %>



</select>

<div id="background">
    <div class="container">
        <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle"></div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
        
         <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>

    </div>
</div>


    <%- include partials/footer.ejs %>
