<%- include partials/header.ejs %>
<div id="background">
    <div class="container">
        <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle"></div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
        
         <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                     <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
    </div>
</div>


    <!--<img src="images/background%20illustrator-01.jpeg" class ="img-fluid" id="background_vierge">

<!--<div class="cercle1" id="cercle1"> </div>  
<div class="cercle2" id="cercle2"></div>
<div class="cercle3" id="cercle3"></div> 
<div class="cercle4" id="cercle4"></div> 
<div class="cercle5" id="cercle5"></div> 
<div class="cercle6" id="cercle6"></div>
<div class="cercle7" id="cercle7"></div>
<div class="cercle8" id="cercle8"></div>
<div class="cercle9" id="cercle9"></div>
<div class="cercle10" id="cercle10"></div>
<div class="cercle11" id="cercle11"></div>
<div class="cercle12" id="cercle12"></div>
<div class="cercle13" id="cercle13"></div>
<div class="cercle14" id="cercle14"></div>
<div class="cercle15" id="cercle15"></div>
<div class="cercle16" id="cercle16"></div>
<div class="cercle17" id="cercle17"></div>
<div class="cercle18" id="cercle18"></div>
<div class="cercle19" id="cercle19"></div>
<div class="cercle20" id="cercle20"></div>
<div class="cercle21" id="cercle21"></div>
<div class="cercle22" id="cercle22"></div>
<div class="cercle23" id="cercle23"></div>
<div class="cercle24" id="cercle24"></div>
<div class="cercle25" id="cercle25"></div>
<div class="cercle26" id="cercle26"></div>
<div class="cercle27" id="cercle27"></div>
<div class="cercle28" id="cercle28"></div>
<div class="cercle29" id="cercle29"></div>
<div class="cercle30" id="cercle30"></div>
<div class="cercle31" id="cercle31"></div>
<div class="cercle32" id="cercle32"></div>
<div class="cercle33" id="cercle33"></div>
<div class="cercle34" id="cercle34"></div>
<div class="cercle35" id="cercle35"></div>
<div class="cercle36" id="cercle36"></div>
<div class="cercle37" id="cercle37"></div>
<div class="cercle38" id="cercle38"></div>
<div class="cercle39" id="cercle39"></div>
<div class="cercle40" id="cercle40"></div>

<div class="cercle1shadow" id="cercle1shadow"></div>
<div class="cercle2shadow" id="cercle2shadow"></div>

<div class="trait1" id="trait1"></div>
<div class="trait2" id="trait2"></div>
<div class="trait3" id="trait3"></div> 
<div class="trait4" id="trait4"></div>
<div class="trait5" id="trait5"></div>
<div class="trait6" id="trait6"></div>
<div class="trait7" id="trait7"></div>
<div class="trait8" id="trait8"></div>
<div class="trait9" id="trait9"></div>
<div class="trait10" id="trait10"></div>
<div class="trait11" id="trait11"></div>
<div class="trait12" id="trait12"></div>
<div class="trait13" id="trait13"></div>
<div class="trait14" id="trait14"></div>
<div class="trait15" id="trait15"></div>
<div class="trait16" id="trait16"></div>
<div class="trait17" id="trait17"></div>
<div class="trait18" id="trait18"></div>
<div class="trait19" id="trait19"></div>
<div class="trait20" id="trait20"></div>
<div class="trait21" id="trait21"></div>
<div class="trait22" id="trait22"></div>
<div class="trait23" id="trait23"></div>
<div class="trait24" id="trait24"></div>
<div class="trait25" id="trait25"></div>
<div class="trait26" id="trait26"></div>
<div class="trait27" id="trait27"></div>
<div class="trait28" id="trait28"></div>
<div class="trait29" id="trait29"></div>
<div class="trait30" id="trait30"></div>

<div class="trait1shadow" id="trait1shadow"></div>-->


    <%- include partials/footer.ejs %>
