<%- include partials/header.ejs %>


<div id="background">
    <div class="container">
        <div class="row d-flex align-items-center pt-3">
            <a href="#" class="col cercle">Maquetter</a>
            <div class="col trait"></div>
            <div class="col cercle cercle1" name="imiter" value="1">a</div>
            <div class="col trait"></div>
            <div class="col cercle cercle2" name="comprendre" value="2">b</div>
            <div class="col trait"></div>
            <div class="col cercle cercle3" name="transmettre" value="3">c</div>
        </div>
        
         <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                     <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
                 <div class="row d-flex align-items-center pt-3">
            <div class="col cercle">Maquetter</div>
            <div class="col trait"></div>
            <div class="col cercle">a</div>
            <div class="col trait"></div>
            <div class="col cercle">b</div>
            <div class="col trait"></div>
            <div class="col cercle">c</div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>

    <%- include partials/footer.ejs %>
