<%- include partials/header.ejs %>

<div class="row">
    <div class="col"id="cercle"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>



<%- include partials/footer.ejs %>