<%- include partials/header.ejs %>

<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Arbre de compétences Promo StGo 2</h1>
            <p class="lead">Good Luck !!!</p>
        </div>
    </div>
    <main>
        <div class="row">
            <div class="wrapper">

            </div>
        </div>
    </main>

<img src = "images/background%20illustrator-03.jpeg" class ="img-fluid" id="background_accueil">



<%- include partials/footer.ejs %>