/*bleu ciel #A3D9EA*/

/*bleu interieur cercle #234C61*/

/*jaune lettres #E2B634*/
#background {
    background-image: url("../images/background%20illustrator-01.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#background_accueil{
    width:100%;
}

#background_vierge{
    width:100%;
    margin-top: 50px;
}
.cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background:#234C61;
   /* margin-top:-90px;*/
    border: 3px solid #A3D9EA;
   /* padding: 50px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E2B634;
    }

.trait {
    width: 360px;
    height: 3px;
    border: 2px solid #A3D9EA;

}

.traitshad {
    width: 360px;
    height: 3px;
    border: 2px solid #E2B634;
    color:#E2B634;
    border-radius: 100px;
    box-shadow: 0 0 10px #E2B634,
                0 0 20px #E2B634,
                0 0 20px #E2B634,
                0 0 20px #E2B634;

}

.shad {
    width: 40px;
    height: 40px;
    background: #E2B634;
    background-size: cover;
    border: #E2B634;
    color:#234C61;
    border-radius: 100px;
    box-shadow: 0 0 10px #E2B634,
                0 0 20px #E2B634,
                0 0 20px #E2B634,
                0 0 20px #E2B634;

}

/* alert message form */
.alertmsg {
    color:red;
}